<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componenteb-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>{{title}}</h1>

    <template is="dom-repeat" items="{{lista}}">
      <ul>
        <li>{{item}}</li>
      </ul>
    </template>
  </template>

  <script>
    /**
     * `componenteb-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentebElement extends Polymer.Element {
      static get is() { return 'componenteb-element'; }
      static get properties() {
        return {
          title: {
            type:String,
            value:''
          },
          lista: {
            type: Array,
            value: ['Marvel','DC','Star Wars','Game Of Thrones']
          }
        };
      }
    }

    window.customElements.define(ComponentebElement.is, ComponentebElement);
  </script>
</dom-module>
